@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Noto Sans";
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

header > div {
  display: flex;
  justify-content: space-around;
}

header > div > * {
  margin-left: 7rem;
}

main {
  display: grid;
  grid-template-areas:
    "product_search product_search product_search product_search product_bookmark product_bookmark"
    "product_list product_detail product_detail product_detail product_detail product_detail";
}

.product_search {
  background-color: rgb(206, 253, 253);
  grid-area: product_search;
}

.product_bookmark {
  background-color: rgb(252, 214, 239);
  grid-area: product_bookmark;
}

.product_list {
  background-color: rgb(199, 255, 224);
  grid-area: product_list;
  display: grid;
  grid-template-rows: repeat(30, minmax(50px, auto));
  grid-auto-columns: auto;
  align-items: center;
  /* justify-content: center; */
}

.product_list > * {
  display: flex;
  align-items: center;
  border-top: 1px solid black;
}

.product_detail {
  background-color: rgb(211, 215, 255);
  grid-area: product_detail;
}

.product_list_item {
  display: grid;
  align-items: center;
}

.product_list_item > * {
  margin-left: 1rem;
}

.product_list_item_link {
  text-decoration: none;
  color: black;
}
